html{
  background-image: linear-gradient(to left top, #000000, #050505, #090909, #0d0d0d, #111111, #141414, #171717, #1a1a1a, #1e1e1e, #212121, #252525, #292929);
  scroll-behavior: smooth;
  color: white !important;
}
.home{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

@media only screen and (max-width: 1024px){
  .home{
    width: 90%;
  }
}

@media only screen and (max-width: 512px){
  .home{
    width: 100%;
  }
}