.about{
  padding-bottom: 48px;
}

.about-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.picture{
  height: 580px;
}

.about-info{
  font-size: 40px;
  font-weight: 650;
  color: white;
}

.info-name{
  color: #40CCFF;
  font-size: 52px;
  font-weight: 1000;
}

@media only screen and (max-width: 720px) {
  .about-top{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .picture{
    height: 280px;
  }
  .about-info{
    font-size: 20px;
  }
  .info-name{
    font-size: 26px;
  }
}